*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
.menu{
    top:0px;
    height: 70px;
    position: fixed;
    width: 100vw;
    background-color:red;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}
.footer{
    height: 70px;
    background-color:red;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}
.header{
    height: 200px;
    width: 100%;
    margin: auto;
    border: 1px solid rgb(71, 71, 71);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.main{
    width: 80%;
    margin: auto;
    top: 80px;
}
.section1{
    display: flex;
    margin-bottom: 20px;
}
.section2{
    display: grid;
    grid-template-columns: repeat(3,354px);
    margin-bottom: 30px;
}
button{
   padding: 5px;
   margin-top: 12px;
   background-color: rgb(255, 255, 255);
   border: 1px solid red;
   border-radius: 5px;
}
button:hover{
    background-color: red;
    color: rgb(255, 255, 255);
}